<div class="row">
  <div class="col-md-12 text-center">
    <h1>
      {{ title }}!
    </h1>
    <p>{{ subheader }}</p>
  </div>

  <div class="col-md-3"></div>
  <div class="col-md-6 top20">
    
      <div class="row border1">
        <h2 class="padding5 logo">Logo</h2>
        <h3 class="padding10">Header goes here...</h3>
      </div>
      <div class="row">
        <div class="col-md-3 border1">
          <p>Menu</p>
          <ul class="nobullets">
            <li *ngFor="let option of options; let i=index ">
             <a routerLink = "{{ option.url }}"> {{ option.name }} </a>
           </li>
          </ul>
        </div>
        <div class="col-md-9 border1">
          <!-- <p><br/>{{content.body}}<br/><br/>{{content.body}}</p> -->
          <router-outlet>
              <p>{{ option.body }} </p>
          </router-outlet>
        </div>
      </div>

  </div>
  <div class="col-md-3"></div>
</div>

