<div class="row">
  <div class="col-md-12 text-center">
    <h1>
      {{ title }}!
    </h1>
    <p>{{ subheader }}</p>
  </div>

  <div class="col-md-3"></div>
  <div class="col-md-6 top20">
    
      <div class="row border1">
        <h2 class="padding5 logo">Logo</h2>
        <h3 class="padding10">Header goes here...</h3>
      </div>
      <div class="row">
        <div class="col-md-3 border1">
          <p>Menu</p>
          <ul class="nobullets">
            <li>Menu Item 1</li>
            <li>Menu Item 2</li>
            <li>Menu Item 3</li>
            <li>Menu Item 4</li>
          </ul>
        </div>
        <div class="col-md-9 border1">
          <p><br/>{{content.body}}<br/><br/>{{content.body}}</p>
        </div>
      </div>

  </div>
  <div class="col-md-3"></div>
</div>

